<mat-card>

    <mat-card-title class="text-center">
        Cadastro de Usuário
    </mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutAlign="stretch">

        <form [formGroup]="userForm" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="onSubmit()"
            fxLayout="column" fxLayoutAlign="start stretch">

            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">

                <mat-form-field fxFlex="20">
                    <input type="number" matInput placeholder="Código" name="codigo" formControlName="code">
                </mat-form-field>

                <mat-form-field fxFlex="20">
                    <mat-select placeholder="Tipo de usuário" name="tipoUsuario">
                        <mat-option *ngFor="let tipoUsuario of tipoUsuarioService.tiposUsuario"
                            [value]="tipoUsuario.id">
                            {{ tipoUsuario.descricao }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <mat-form-field>
                <input matInput #nome placeholder="Nome">
            </mat-form-field>

            <mat-form-field>
                <input matInput #login placeholder="Login">
            </mat-form-field>

            <mat-form-field>
                <input matInput #senha type="password" placeholder="Senha">
            </mat-form-field>

            <mat-form-field>
                <input matInput #confirmarSenha type="password" placeholder="Confirmar Senha">
            </mat-form-field>

            <button type="submit" class="btn btn-success">Salvar</button>

        </form>

    </mat-card-content>

</mat-card>