<h1 mat-dialog-title>{{ entrega.tituloEntrega }}</h1>

<div mat-dialog-content>

    <p>{{ entrega.descricaoEntrega }}</p>

    <br>
    <mat-divider></mat-divider>
    <br>

    <p class="text-left">Volume:&nbsp; {{ entrega.volumeEntrega }}</p>
    <p class="text-left">Cliente:&nbsp; {{ entrega.nomeCliente }}</p>
    <p class="text-left">Endereço de coleta:&nbsp; {{ entrega.enderecoColeta.descricaoEndereco }}</p>
    <p class="text-left">Bairro:&nbsp; {{ entrega.enderecoColeta.bairro }}</p>
    <p class="text-left">Número:&nbsp; {{ entrega.enderecoColeta.numero }}</p>
    <p class="text-left">Complemento:&nbsp; {{ entrega.enderecoColeta.complemento }}</p>
    <p class="text-left">Endereço de entrega:&nbsp; {{ entrega.enderecoEntrega.descricaoEndereco }}</p>
    <p class="text-left">Bairro:&nbsp; {{ entrega.enderecoEntrega.bairro }}</p>
    <p class="text-left">Número:&nbsp; {{ entrega.enderecoEntrega.numero }}</p>
    <p class="text-left">Complemento:&nbsp; {{ entrega.enderecoEntrega.complemento }}</p>
    <p class="text-left">Data de coleta:&nbsp;
        {{ util.formatarData(entrega.dataColetaEntrega) }}</p>
    <p class="text-left">Data prazo de entrega:&nbsp;
        {{ util.formatarData(entrega.dataPrazoEntrega) }}</p>

</div>

<div mat-dialog-actions>
    <button type="button" (click)="fecharModal()" class="btn btn-danger float-left">Cancelar</button>
    <button type="button" (click)="pegarEntrega()" class="btn btn-success float-right">Pegar Entrega</button>
</div>