<mat-card>

    <mat-card-title class="text-center">
        Cadastro de Avaliação
    </mat-card-title>

    <mat-card-content>

        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <mat-select #campoUsuario>
                <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                    {{ usuario.id }} - {{ usuario.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tipo Contato</mat-label>s
            <mat-select #campoTipoContato>
                <mat-option *ngFor="let tipoContato of tipoContatoService.tiposContato" [value]="tipoContato.id">
                    {{ tipoContato.descricao }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput #descricao placeholder="Contato">
        </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
        <button class="btn btn-success" (click)="salvar()">Salvar</button>
    </mat-card-actions>

</mat-card>