.area-alerta {
  position: absolute;
  z-index: 99999;
  width: 100%;
  padding: 20px 20px;

  .alert {
    min-width: 200px;
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto;
  }
}

.progress {
  height: 5px;
}

mat-drawer-container {
  height: calc(100% - 56px);
}

.menu {
  background: #c5c5c5;
  width: 200px;
  height: 100%;

  .btn {
    width: 200px;
  }

  .botao-sair {
    background: #343a40;
    color: #ffffff;
  }
}

nav {
  .navbar-brand {
    margin-right: auto;
    margin-left: 10px;
  }

  .btn {
    height: 37px;
  }
}
