<div *ngIf="util.alertDanger || util.alertSuccess" class="area-alerta text-center">
  <div *ngIf="util.alertDanger" class="alert alert-danger text-center" role="alert">{{ util.mensageAlertDanger }}</div>
  <div *ngIf="util.alertSuccess" class="alert alert-success text-center" role="alert">{{ util.mensageAlertSuccess }}
  </div>
</div>

<div class="progress" *ngIf="util.requestProgress">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger w-100" role="progressbar"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<router-outlet></router-outlet>
