<mat-accordion>
  <mat-expansion-panel expanded="true">

    <mat-expansion-panel-header>
      <h1>
        {{ titulo }} ({{ entregas.total }})
      </h1>
    </mat-expansion-panel-header>

    <ul>
      <mat-card *ngFor="let entrega of entregas.lista">

        <mat-card-title>
          {{ entrega.titulo }}
        </mat-card-title>

        <mat-card-subtitle>
          {{ entrega.cidadeColeta === entrega.cidadeEntrega ? entrega.cidadeColeta : entrega.cidadeColeta + ' para ' + entrega.cidadeEntrega }}
          <br>
          {{ entrega.nomeCliente }}
        </mat-card-subtitle>

        <button mat-icon-button color="primary" class="button-expand" (click)="expand(entrega)">
          <mat-icon>{{ entregasExpandidas.includes(entrega.codigo) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
          </mat-icon>
        </button>

        <mat-accordion>

          <mat-expansion-panel class="expanssion-panel-delivery"
            [expanded]="entregasExpandidas.includes(entrega.codigo)">

            <br>
            <p>Data de Coleta: {{ entrega.dataColeta }}</p>
            <p>Data de Entrega: {{ entrega.dataEntrega }}</p>
            <p>Volume: {{ entrega.volume }}</p>
            <p>Descrição: {{ entrega.descricao }}</p>

            <mat-action-row class="action-buttons">

              <button *ngIf="usuarioService.tipoUsuario != 2 && entrega.nomeEntregador == '-'" type="button"
                (click)="pegarEntrega()" class="btn btn-success float-right">Pegar</button>

              <button *ngIf="usuarioService.tipoUsuario === 1  && entrega.nomeEntregador != '-'" type="button"
                (click)="largarEntrega()" class="btn btn-warning float-right">Largar</button>

              <button *ngIf="usuarioService.tipoUsuario != 3" type="button" (click)="excluirEntrega()"
                class="btn btn-danger float-right">Excluir</button>

              <button *ngIf="usuarioService.tipoUsuario != 2" type="button" (click)="finalizarEntrega()"
                class="btn btn-primary float-right">Finalizar</button>

            </mat-action-row>

          </mat-expansion-panel>

        </mat-accordion>

      </mat-card>
    </ul>

    <button *ngIf="entregas.lista.length < entregas.total" type="button" class="button" (click)="verMais()">Ver
      mais</button>

  </mat-expansion-panel>
</mat-accordion>
