<div class="container">

  <header>
    <img class="logo-imagem" src="../../assets/images/logo_imagem.png" alt="Be The Hero" />

    <span>Bem vindo, {{ userService.userName }}</span>

    <div class="container-buttons">
      <button class="button button-new-delivery">Cadastrar entrega</button>

      <button class="button button-little button-menu" [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="Button menu">menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button class="button button-logoff button-little">
        <mat-icon aria-hidden="false" aria-label="Button log-off">power_settings_new</mat-icon>
      </button>
    </div>
  </header>

  <div *ngIf="showDeliveriesToUser">

    <h1>Suas entregas</h1>

    <div *ngFor="let delivery of deliveryService.deliveriesToUser">
      <ul>
        <li>
          <strong>TÍTULO:</strong>
          <p>{{ delivery.deliveryTitle }}</p>

          <strong>DESCRIÇÃO:</strong>
          <p>{{ delivery.deliveryDescriptio }}</p>

          <strong>VOLUME:</strong>
          <p>{{ delivery.bulk }}</p>

          <button type="button">
          </button>
        </li>
        <li>
          <strong>CASO:</strong>
          <p>1</p>

          <strong>DESCRIÇÃO:</strong>
          <p>1</p>

          <strong>VALOR:</strong>
          <p>450</p>

          <button type="button">
          </button>
        </li>
      </ul>
    </div>

  </div>

  <h1>Casos cadastrados</h1>

  <ul>
    <li>
      <strong>CASO:</strong>
      <p>1</p>

      <strong>DESCRIÇÃO:</strong>
      <p>1</p>

      <strong>VALOR:</strong>
      <p>450</p>

      <button type="button">
      </button>
    </li>
    <li>
      <strong>CASO:</strong>
      <p>1</p>

      <strong>DESCRIÇÃO:</strong>
      <p>1</p>

      <strong>VALOR:</strong>
      <p>450</p>

      <button type="button">
      </button>
    </li>
  </ul>

</div>
