<div class="container">

  <header>
    <img src="../../assets/images/logo.png" alt="Be The Hero" />

    <span>Bem vinda, TESTE</span>

    <span class="button">Cadastrar novo caso</span>

    <button type="button">
    </button>
  </header>

  <h1>Casos cadastrados</h1>

  <ul>
    <li>
      <strong>CASO:</strong>
      <p>1</p>

      <strong>DESCRIÇÃO:</strong>
      <p>1</p>

      <strong>VALOR:</strong>
      <p>450</p>

      <button type="button">
      </button>
    </li>
    <li>
      <strong>CASO:</strong>
      <p>1</p>

      <strong>DESCRIÇÃO:</strong>
      <p>1</p>

      <strong>VALOR:</strong>
      <p>450</p>

      <button type="button">
      </button>
    </li>
  </ul>

</div>
