mat-card {
  margin: 25px;
}

mat-card-content {
  font-size: 17px;
}

.titulo {
  font-size: 20px;
}

.card-entrega {
  background: #e6e6e6;
  border-radius: 20px;

  .descricao {
    max-width: 400px;
    display: inline-block;
  }

  .dados-entrega {
    display: block;
  }
}
