<div class="container">

  <header>
    <img src="../../assets/images/logo.png" alt="Be The Hero" />

    <span>Bem vindo, TESTE</span>

    <div class="container-buttons">
      <button class="button button-new-delivery">Cadastrar entrega</button>

      <button class="button button-little button-menu" [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="Button menu">list</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button class="button button-logoff button-little">
        <mat-icon aria-hidden="false" aria-label="Button log-off">power_settings_new</mat-icon>
      </button>
    </div>
  </header>

  <h1>Casos cadastrados</h1>

  <ul>
    <li>
      <strong>CASO:</strong>
      <p>1</p>

      <strong>DESCRIÇÃO:</strong>
      <p>1</p>

      <strong>VALOR:</strong>
      <p>450</p>

      <button type="button">
      </button>
    </li>
    <li>
      <strong>CASO:</strong>
      <p>1</p>

      <strong>DESCRIÇÃO:</strong>
      <p>1</p>

      <strong>VALOR:</strong>
      <p>450</p>

      <button type="button">
      </button>
    </li>
  </ul>

</div>
