.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.container header {
  display: flex;
  align-items: center;
  height: 70px;
}

.container header span {
  font-size: 20px;
  margin-left: 24px;
}

.container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.container header .container-buttons {
  margin-left: auto;
  display: flex;
}

.container header .container-buttons .button-logoff {
  background: transparent;
}

.container header .container-buttons .button-logoff mat-icon {
  color: #474747;
}

.container header .container-buttons .button-little {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  border: 1px solid #DCDCE6;
  margin-left: 16px;
  transition: border-color 0.2s;
  margin: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container header .container-buttons .button-icon-menu {
  margin-right: 15px;
}

.container header .container-buttons .button-new-delivery {
  width: 200px;
  margin: 0 15px;
}

.container header button:hover {
  border-color: #999;
}

.container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}

.container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.container ul li {
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.container ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background: transparent;
  transition: opacity 0.2s;
}

.container ul li button:hover {
  opacity: 0.8;
}

.container ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414D;
}

.container ul li p+strong {
  margin-top: 32px;
}

.container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}

.container ul li button mat-icon {
  color: #474747;
}

.container ul li div button .icon-create {
  margin-right: 10px;
}

.container ul li div {
  position: absolute;
  right: 24px;
  top: 24px;
}

.button-menu {
  margin: 0;
  background: transparent;
  color: #474747;
  border-radius: 0;
  width: 240px;
}

.button-menu:hover {
  background: #e6e6e6;
}

.container h1 {
  font-size: 30px;
}
