<div class="container">

  <header>
    <img class="logo-imagem" src="../../assets/images/logo_imagem.png" alt="Be The Hero" />

    <div>
      <span>Bem vindo, <b>{{ usuarioService.nomeUsuario }}</b></span>
      <br>
      <span>Sua nota: {{ usuarioService.nota }}</span>
    </div>

    <div class="container-buttons">
      <button class="button button-new-delivery" (click)="openDeliveryRecord()">Cadastrar entrega</button>

      <button class="button button-little button-icon-menu" [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="Button menu">menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <span *ngIf="usuarioService.tipoUsuario !== 3">
          <button class="button button-menu" (click)="openProgram(pages.CADASTRO_ENTREGA)">Cadastro de
            Entrega</button>
          <mat-divider></mat-divider>
        </span>

        <span *ngIf="usuarioService.tipoUsuario !== 3">
          <button class="button button-menu" (click)="openProgram(pages.CADASTRO_ENDERECO)">Cadastro
            de Endereço</button>
          <mat-divider></mat-divider>
        </span>

        <span *ngIf="usuarioService.tipoUsuario === 1">
          <button class="button button-menu" (click)="openProgram(pages.CADASTRO_USUARIO)">Cadastro
            de Usuário</button>
          <mat-divider></mat-divider>
        </span>

        <span *ngIf="usuarioService.tipoUsuario === 1">
          <button class="button button-menu" (click)="openProgram(pages.CADASTRO_CIDADE)">Cadastro de Cidade</button>
          <mat-divider></mat-divider>
        </span>

        <span *ngIf="usuarioService.tipoUsuario === 1">
          <button class="button button-menu" (click)="openProgram(pages.CADASTRO_CONTATO)">Cadastro
            de Contatos</button>
          <mat-divider></mat-divider>
        </span>

        <button class="button button-menu" (click)="openProgram(pages.CADASTRO_AVALIACAO)">Cadastro
          de Avaliação</button>
        <mat-divider></mat-divider>
      </mat-menu>

      <button class="button button-logoff button-little" (click)="logOff()">
        <mat-icon aria-hidden="false" aria-label="Button log-off">power_settings_new</mat-icon>
      </button>
    </div>
  </header>

  <div *ngIf="entregaService.andamento.total > 0">

    <h1>Entregas em andamento ({{ entregaService.andamento.total }})</h1>

    <ul>
      <li *ngFor="let entrega of entregaService.andamento.lista">
        <strong>TÍTULO:</strong>
        <p>{{ entrega.titulo }}</p>

        <strong>DESCRIÇÃO:</strong>
        <p>{{ entrega.descricao }}</p>

        <strong>VOLUME:</strong>
        <p>{{ entrega.volume }}</p>

        <div>
          <button type="button">
            <mat-icon class="icon-create" aria-hidden="false" aria-label="Button delete delivery">create</mat-icon>
          </button>

          <button type="button">
            <mat-icon aria-hidden="false" aria-label="Button delete delivery">delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>

    <button *ngIf="entregaService.andamento.total > 4" type="button" class="button">Ver mais</button>

  </div>

  <div *ngIf="entregaService.abertas.total > 0">

    <h1>Entregas abertas ({{ entregaService.abertas.total }})</h1>

    <ul>
      <li *ngFor="let entrega of entregaService.abertas.lista">
        <strong>TÍTULO:</strong>
        <p>{{ entrega.titulo }}</p>

        <strong>DESCRIÇÃO:</strong>
        <p>{{ entrega.descricao }}</p>

        <strong>VOLUME:</strong>
        <p>{{ entrega.volume }}</p>

        <div>
          <button type="button">
            <mat-icon class="icon-create" aria-hidden="false" aria-label="Button delete delivery">create</mat-icon>
          </button>

          <button type="button">
            <mat-icon aria-hidden="false" aria-label="Button delete delivery">delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>

    <button *ngIf="entregaService.abertas.total > 4" type="button" class="button">Ver mais</button>

  </div>

  <div *ngIf="entregaService.finalizadas.total > 0">

    <h1>Entregas finalizadas ({{ entregaService.finalizadas.total }})</h1>

    <ul>
      <li *ngFor="let entrega of entregaService.finalizadas.lista">
        <strong>TÍTULO:</strong>
        <p>{{ entrega.titulo }}</p>

        <strong>DESCRIÇÃO:</strong>
        <p>{{ entrega.descricao }}</p>

        <strong>VOLUME:</strong>
        <p>{{ entrega.volume }}</p>

        <div>
          <button type="button">
            <mat-icon class="icon-create" aria-hidden="false" aria-label="Button delete delivery">create</mat-icon>
          </button>

          <button type="button">
            <mat-icon aria-hidden="false" aria-label="Button delete delivery">delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>

    <button *ngIf="entregaService.finalizadas.total > 4" type="button" class="button">Ver mais</button>

  </div>

  <div *ngIf="entregaService.excluidas.total > 0">

    <h1>Entregas excluídas ({{ entregaService.excluidas.total }})</h1>

    <ul>
      <li *ngFor="let entrega of entregaService.excluidas.lista">
        <strong>TÍTULO:</strong>
        <p>{{ entrega.titulo }}</p>

        <strong>DESCRIÇÃO:</strong>
        <p>{{ entrega.descricao }}</p>

        <strong>VOLUME:</strong>
        <p>{{ entrega.volume }}</p>

        <div>
          <button type="button">
            <mat-icon class="icon-create" aria-hidden="false" aria-label="Button delete delivery">create</mat-icon>
          </button>

          <button type="button">
            <mat-icon aria-hidden="false" aria-label="Button delete delivery">delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>

    <button *ngIf="entregaService.excluidas.total > 4" type="button" class="button">Ver mais</button>

  </div>

</div>
