<div class="container">

  <header>
    <img class="logo-imagem" src="../../assets/images/logo_imagem.png" alt="Eu Busco" />

    <div>
      <span>Bem vindo, <b>{{ usuarioService.nomeUsuario }}</b></span>
      <br>
      <span>Sua nota: {{ usuarioService.nota }}</span>
    </div>

    <app-menu></app-menu>
  </header>

  <div class="painel-entregas">

    <app-painel-entregas *ngIf="entregaService.andamento.total > 0" titulo="Entregas em andamento"
      [entregas]="entregaService.andamento"></app-painel-entregas>

    <app-painel-entregas *ngIf="entregaService.abertas.total > 0" titulo="Entregas abertas"
      [entregas]="entregaService.abertas" [verMaisFuncion]="buscarMaisEntregasAbertas"></app-painel-entregas>

    <app-painel-entregas *ngIf="entregaService.finalizadas.total > 0" titulo="Entregas finalizadas"
      [entregas]="entregaService.finalizadas"></app-painel-entregas>

    <app-painel-entregas *ngIf="entregaService.excluidas.total > 0" titulo="Entregas excluídas"
      [entregas]="entregaService.excluidas"></app-painel-entregas>

  </div>

  <div
    *ngIf="entregaService.andamento.total === 0 && entregaService.abertas.total === 0 && entregaService.finalizadas.total === 0 && entregaService.excluidas.total === 0">
    <h1>Sem entregas no momento...</h1>
  </div>

</div>
