.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.container header {
  display: flex;
  align-items: center;
  height: 70px;
}

.container header span {
  font-size: 20px;
  margin-left: 24px;
}

.container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.container header .container-buttons {
  margin-left: auto;
  display: flex;
}

.container header .container-buttons .button-logoff {
  background: transparent;
}

.container header .container-buttons .button-logoff mat-icon {
  color: #474747;
}

.container header .container-buttons .button-little {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  border: 1px solid #DCDCE6;
  margin-left: 16px;
  transition: border-color 0.2s;
  margin: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container header .container-buttons .button-icon-menu {
  margin-right: 15px;
}

.container header .container-buttons .button-new-delivery {
  width: 200px;
  margin: 0 15px;
}

.container header button:hover {
  border-color: #999;
}

.button-menu {
  margin: 0;
  background: transparent;
  color: #474747;
  border-radius: 0;
  width: 240px;
}

.button-menu:hover {
  background: #e6e6e6;
}

.painel-entregas {
  margin-top: 100px;
}
